<%- include('header'); -%>
<form action="/" method="post">
  <div class="form-div">
    <h1 class="main-heading">Weather Service</h1>
    <input type="text" autocomplete="off" name="cityQuery" placeholder="Enter City Name"/>
    <button class="submit-button" type="submit">Submit</button>
  </div>
</form>
<%- include('footer'); -%>
